##Dependencias

In [1]:
import pandas as pd
import os 
from glob import glob

##Listar archivos

In [2]:
ruta = 'ibm_card_txn/*.csv'
archivos = glob(ruta)

In [3]:
type(archivos)

list

## Leer archivo base

In [9]:
df.columns

Index(['User', 'Card', 'Year', 'Month', 'Day', 'Time', 'Amount', 'Use Chip',
       'Merchant Name', 'Merchant City', 'Merchant State', 'Zip', 'MCC',
       'Errors?', 'Is Fraud?'],
      dtype='object')

In [13]:
cols = ['User', 'Card', 'Year', 'Month', 'Day', 'Time', 'Amount', 'Use Chip',
       'Merchant State','MCC',
       'Errors?', 'Is Fraud?']
names =['id_user','id_card','dt_timestamp','c_amt','d_use_chip','d_merchant_state'
        'id_mcc','d_errors','b_fraud']
df = pd.read_csv(archivos[0],dtype=str,usecols=cols)
df.shape

(100000, 12)

In [ ]:
def validar_datos (df):
    for c in ['User','Card','MCC']:
        pd.to_numeric(df[c],errors='coerce').fillna(99999).astype(int).map()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant State,MCC,Errors?,Is Fraud?
0,1101,6,2016,3,2,08:16,$105.80,Online Transaction,NaN,4814,NaN,No
1,1101,6,2016,3,2,12:25,$27.63,Online Transaction,NaN,4121,NaN,No
2,1101,6,2016,3,3,12:44,$20.74,Swipe Transaction,CA,4121,NaN,No
3,1101,6,2016,3,3,13:25,$14.75,Swipe Transaction,CA,4121,NaN,No
4,1101,6,2016,3,3,17:00,$24.33,Swipe Transaction,CA,4121,NaN,No

## Limpiamos los datos